body {
  margin: 0;
}
/* 헤더부분 CSS */
#name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* 메인바 CSS */
.mainvar {
  display: block;
  text-align: right;
  list-style: none;
  width: 100%;
  height: 100%;
}

.mainvar a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

/*메인바에 마우스 올릴 때 스타일*/
.mainvar a:hover {
  text-decoration: none;
  font-weight: 700;
}

/*메뉴바 CSS*/
.menubar {
  display: block;
  text-align: center;
  list-style: none;
  padding: 5px;
  height: 100%;
  margin: 5px 0px;
  background-color: #333;
}

.menubar a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

/*메뉴바에 마우스 올릴 때 스타일*/
.menubar a:hover {
  text-decoration: none;
  font-weight: 900;
  color: black;
  background-color: white;
}

.container {
  position: relative;
}

/*풋터 부분 CSS*/
.footerlogo hr {
  border: 0px;
  height: 2px;
  background-color: #333;
  margin-bottom: 40px;
}

.footerlogo {
  text-align: center;
  margin-bottom: 80px;
}

.footerlogo a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
